<section id="q4-form">
    <div class="well">
        <h2>What is the total margin between the two divs?</h2>
    </div>
    <pre style='color:#000000;background:#ffffff;'>
<span style='color:#7f0055; '>&lt;</span><span style='color:#000084; font-weight:bold; '>style</span><span style='color:#7f0055; '>></span>
.isolated { <span style='color:#000084; font-weight:bold; '>margin</span>: 1em 0 }
<span style='color:#7f0055; '>&lt;/</span><span style='color:#000084; font-weight:bold; '>style</span><span style='color:#7f0055; '>></span>
<span style='color:#7f0055; '>&lt;</span><span style='color:#000084; font-weight:bold; '>div</span> class=<span style='color:#0000ff; '>"isolated"</span><span style='color:#7f0055; '>></span>First Div<span style='color:#7f0055; '>&lt;/</span><span style='color:#000084; font-weight:bold; '>div</span><span style='color:#7f0055; '>></span>
<span style='color:#7f0055; '>&lt;</span><span style='color:#000084; font-weight:bold; '>div</span> class=<span style='color:#0000ff; '>"isolated"</span><span style='color:#7f0055; '>></span>Second Div<span style='color:#7f0055; '>&lt;/</span><span style='color:#000084; font-weight:bold; '>div</span><span style='color:#7f0055; '>></span>
    </pre>
    <div class="radio well">
        <label>
            <input type="radio" name="q4-radio" ng-model="a4" value="1em">
            1em
        </label>
    </div>
    <div class="radio well">
        <label>
            <input type="radio" name="q4-radio" ng-model="a4" value="2em">
            2em
        </label>
    </div>
    <div class="radio well">
        <label>
            <input type="radio" name="q4-radio" ng-model="a4" value="0">
            0
        </label>
    </div>
    <div class="radio well">
        <label>
            <input type="radio" name="q4-radio" ng-model="a4" value="1.5em">
            1.5em
        </label>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" ng-click="checkAnswer('q4', a4)">Check Answer</button>
        <a ui-sref="form.part-five" class="btn btn-primary">Next <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
</section>