@import 'partials/animations';

#form-container {
  margin-bottom: 20px;
  border-radius: 5px;
  .page-header {
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
#form-views{
  .row{
    margin: 0;
  }
  section{
    margin-bottom: 1em;
  }
}

#status-buttons {
  a {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    border: 1px solid;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
    }
    &.active {
      background-color: #337ab7;
      color: white;
    }
  }
  span {
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
  }
}

section > .well:first-child{
  font-family: monospace, monospace;
  h2{
    font-size: 1.25em;
    line-height: 1.5em;
  }
}
.well-red {
  background-color: red;
}
.well-green {
  background-color: forestgreen;
}

.page-header{
  border-bottom: 0;
}

#score-modal{
  .modal-content{
    font-size: 2em;
  }
}