@import 'mixins/display';
@import 'partials/animations';
@import 'modules/social_buttons';

#score-modal{
  .modal-content{
    font-size: 2em;
  }
}

#form-container {
  margin-bottom: 20px;
  border-radius: 5px;
  .page-header {
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
  }
}

#form-views{
  .row{
    margin: 0;
  }
  section{
    margin-bottom: 1em;
  }
}

/*Level Buttons */
#status-buttons {
  @include flexbox;
  justify-content: center;
  a {
    //display: inline-block;
    display: none;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    border: 1px solid;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
    }
    &.active {
      background-color: #337ab7;
      color: white;
      display: inline-block;
    }
  }
  span {
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
  }
}

section > .well:first-child{
  font-family: monospace, monospace;
  h2{
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

/*Code Stylings*/
pre{
  word-wrap: normal;
}

/*Well Colors*/
.well-red {
  background-color: red;
}
.well-green {
  background-color: forestgreen;
}

@media screen and (min-width: 767px){
  #status-buttons {
    a{
      display: inline-block;
    }
  }
  .ui-previous{
    display: none;
  }
}